{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css')}}">
    <div class="card card-centro">
        <h2 style="text-align: center;">Login</h2>

        <form method="POST">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" required>

            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" required>

            <button type="submit" class="btn-primary btn-full">Entrar</button>
        </form>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </div>
{% endblock %}
